.card_container{
    /* width: 300px;  */
    height: 90px;
    display: flex;
    justify-content: space-between;
}
.card_img img{
    width: 130px;
    height: 80px;
    margin-right: 1rem;
}
.card_dites{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}